
body {

}

#main {
    width: 300px;
}

#desc {
    font-size: 12px;
}

#formrow {
    margin-top: 10px;
}

#sublist-header {
    font-weight: bold;
}

.sublist-item {
    margin-left: 10px;
}

.container {
    border: 1px solid black;
    padding-bottom: 20px;
    padding-top: 10px;
}