#main {
    width: 300px;
}

#title {
    font-size: 16px;
    top: 6px;
    font-weight: bold;
}

#desc {
    font-size: 12px;
}

#formrow {
    margin-top: 10px;
}

#sublist {
    margin-bottom: 10px;
}

.header {
    font-weight: bold;
}

#on-button {
    width: 80px;
}

.sublist-item {
    margin-left: 10px;
    padding: 5px;
}

.container {
    padding-bottom: 20px;
    padding-top: 10px;
}

#top-menu {
    height: 50px;
}

.btn:focus {
    outline: none;
}

label {
    margin-top: 5px;
    font-size: 12px;
}

.glyphicon-remove {
    color: red;
    margin-right: 10px;
    top: 2px;
    
    cursor: pointer;
}

.form-control, .btn {
    border-radius: 0px;
    height: 30px;
    padding: 5px 8px;
}

.btn {
    border: 1px solid grey;
    padding: 4px 8px;
}

#help {
    font-size: 10px;
    margin-top: 20px;
}